<div class="status pending govuk-grid-row generation-progress govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <p>The complete FCRM1 is being generated.</p>
    <p>
      <strong class="govuk-heading-s">
        <% if meta['current_record'] && meta['total_records'] %>
          <%= meta['current_record'] %> / <%= meta['total_records'] %> 
          (<%= ((meta['current_record'].to_f / meta['total_records'].to_f) * 100).to_i %>% complete)
        <% end %>
      </strong>
    </p>
  </div>
</div>
