<p><%= @report.size %> project(s) have failed to send to PoL.</p>

<p>To manage these projects and either mark them as submitted or retry the submission, please go to the following URL:</p>

<p><%= link_to nil, admin_failed_submissions_url %></p>
