<p style="font-size: 19px; line-height: 1.315789474; margin: 30px 0 15px 0; font-weight: bold;">Dear <%= @name %>,</p>
<p style="font-size: 19px; line-height: 1.315789474;margin: 30px 0 15px 0;">We've received your request to create an account for the Flood and Coastal Erosion
Risk Management Project Application and Funding Service (PAFS) using the email address
'<%= @email %>'</p>
<p style="font-size: 19px; line-height: 1.315789474;margin: 30px 0 15px 0;">We will verify your request and email the account details to you within 5 working days</p>
<p style="font-size: 19px; line-height: 1.315789474;margin: 30px 0 15px 0;"><strong>Contact us</strong></p>
<ul>
  <li style="font-size: 16px; line-height: 1.125; margin: 0 0 15px 0;">If you don't receive your account details within 5 working days</li>
  <li style="font-size: 16px; line-height: 1.125; margin: 0 0 15px 0;">If you have not requested an account</li>
  <li style="font-size: 16px; line-height: 1.125; margin: 0 0 15px 0;">If you have requested an account in error</li>
</ul>
<p style="font-size: 19px; line-height: 1.315789474;margin: 0 0 30px 0;">
  If you need assistance call the Environment Agency helpline:
  <a href="tel:03708506506">03708 506506</a>
</p>
<p style="font-size: 19px; line-height: 1.315789474;margin: 0 0 30px 0;">
  It’s open Monday to Friday, between 8am and 6pm
</p>
<p style="font-size: 19px; line-height: 1.315789474;margin: 0 0 30px 0;">You can contact the Environment Agency on 02030 254 771</p>
