<h1 class="govuk-heading-l"><%= t(".heading") %></h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="panel panel-border-wide">
      <p><%= t(".notice") %></p>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="headroom">
      <%= link_to "Back", admin_refresh_index_path %>
    </div>
  </div>
</div>
