<h1 class="heading-large">FCERM programme refresh</h1>
<div class="refresh-menu">
  <ul>
    <li><%= link_to "Import programme", main_app.new_admin_program_upload_path %></li>
    <li><%= link_to "View imported programme reports", main_app.admin_program_uploads_path %></li>
    <li><%= link_to "Open programme refresh", main_app.new_admin_refresh_path %></li>
  </ul>
</div>
