<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div id="status" class="upload-progress" aria-live="polite">
      <%= render partial: "status" %>
    </div>
  </div>
</div>
