<p>Current status: <strong class="heading-small"><%= t(@upload.status, scope: "admin.program_uploads.status") %></strong></p>
<p>Records processed: <strong class="heading-small"><%= @upload.number_of_records %></strong></p>
