<p>Current status: <strong class="govuk-heading-s"><%= t(@upload.status, scope: "admin.program_uploads.status") %></strong></p>
<p>Records processed: <strong class="govuk-heading-s"><%= @upload.number_of_records %></strong></p>
