<h1 class="heading-large">Programme Upload</h1>
<h2 class="heading-medium"><%= File.basename(@upload.filename) %></h2>
<% if @upload.finished_processing? %>
  <%= render partial: "details" %>
<% else %>
  <%= render partial: "progress" %>
<% end %>
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="headroom">
      <%= link_to "Back", admin_program_uploads_path %>
    </div>
  </div>
</div>
