.return-link {
  margin-top: 1.25em;
}

// Content
// ==========================================================================

#content {
  -webkit-font-smoothing: antialiased;
}

#global-header .header-proposition {
  padding-top: 0.5%;
}

.area-select {
  margin-bottom: 1em;
}

.page-nav {
  margin-top: 1em;
}

.resend-link, .delete-link {
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.5em;
}

.pagination-area {
  margin-right: 1em;
  text-align: right;

  .page {
    padding: 0.15em;
  }
}

.with-headroom {
  margin-top: 1em;
}

.border-none {
  border-bottom: none;
}

// Summary
// Green box that confirms to user their registration is complete
// ==========================================================================

.complete-summary {
  text-align: center;
}

.reference-note {
  display: inline-block;
}

.reference-number {
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
}

// EA Footer
// ==========================================================================

.govuk-footer .revision {
  color: lightgray;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.search-bar {
  margin-bottom: 1em;
}

.white-space-nowrap {
  white-space: nowrap;
}

// Start now buttons
.button-start,
.button-get-started {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding: pem(7) pem(41) pem(4) pem(16);
}

.actions {
  margin-bottom: 2em;
  margin-top: 2em;

  * {
    margin-right: 0.25em;
  }
}

.horiz-1em-left {
  margin-left: 1em !important;
}

.float-link-right {
  float: right;
}