@import 'typography';
@import 'colours';

.centered {
  text-align: center;
}

.item-summary {
  margin-bottom: 1em;

  dd {
    @include core-19;
    display: inline;
    margin: 0;

    &::after {
      content: '';
      display: block;
    }
  }

  dt {
    @include bold-19;
    display: inline-block;
    min-width: 20%;
  }
}
