
.centered {
  text-align: center;
}

.item-summary {
  margin-bottom: 1em;

  dd {
    display: inline;
    margin: 0;

    &::after {
      content: '';
      display: block;
    }
  }

  dt {
    display: inline-block;
    min-width: 20%;
  }
}
