<h1 class="heading-large"><%= t(".heading") %></h1>
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="panel panel-border-wide">
      <p><%= t(".notice") %></p>
    </div>
  </div>
</div>
<div class="grid-row">
  <div class="column-two-thirds">
    <div class="headroom">
      <%= link_to "Back", admin_refresh_index_path %>
    </div>
  </div>
</div>
