<h1 class="govuk-heading-l">FCERM programme refresh</h1>
<div class="govuk-body">
  <%= link_to "Import programme", main_app.new_admin_program_upload_path %><br>
  <%= link_to "View imported programme reports", main_app.admin_program_uploads_path %><br>
  <%= link_to "Download all projects", main_app.admin_download_path %>
</div>
