<h1 class="heading-large">FCERM program refresh</h1>
<div class="refresh-menu">
  <ul>
    <li><%= link_to "Import program", main_app.new_admin_program_upload_path %></li>
    <li><%= link_to "View imported program reports", main_app.admin_program_uploads_path %></li>
    <li><%= link_to "Open program refresh", "#" %></li>
  </ul>
</div>
